.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 450px;
  background: white;
  padding: 25px;
  border-radius: 12px;
}

.modal h2 {
  margin-bottom: 20px;
}

.modal input,
.modal textarea,
.modal select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal-buttons button {
  padding: 10px 20px;
}

.cancel-btn {
  background: #dc2626;
  color: white;
}