.companies-page{

    display:flex;

    flex-direction:column;

    gap:25px;

}

.companies-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.companies-header button{

    background:#6366F1;

    color:white;

    border:none;

    padding:12px 18px;

    border-radius:10px;

    display:flex;

    align-items:center;

    gap:10px;

    cursor:pointer;

}

.search-box{

    display:flex;

    align-items:center;

    gap:10px;

    background:white;

    padding:15px;

    border-radius:10px;

}

.search-box input{

    border:none;

    outline:none;

    width:100%;

}

.table-card{

    background:white;

    border-radius:15px;

    padding:20px;

    box-shadow:0 8px 20px rgba(0,0,0,.05);

}

table{

    width:100%;

    border-collapse:collapse;

}

th,td{

    padding:15px;

    border-bottom:1px solid #E5E7EB;

}

.edit,.delete{

    border:none;

    padding:10px;

    border-radius:8px;

    margin-right:8px;

    cursor:pointer;

}

.edit{

    background:#3B82F6;

    color:white;

}

.delete{

    background:#EF4444;

    color:white;

}