.navbar {
  position: fixed;
  top: 0;
  left: 260px;
  right: 0;

  height: 80px;

  background: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;

  border-bottom: 1px solid #e5e7eb;

  z-index: 1000;
}

.navbar-left h2{

    margin:0;

}

.navbar-left p{

    margin-top:4px;

    color:#6B7280;

    font-size:13px;

}

.search{

    width:420px;

    background:#F3F4F6;

    display:flex;

    align-items:center;

    padding:12px 18px;

    border-radius:12px;

    gap:12px;

}

.search input{

    width:100%;

    border:none;

    background:none;

    outline:none;

}

.navbar-right{

    display:flex;

    align-items:center;

    gap:20px;

}

.icon-btn{

    width:45px;

    height:45px;

    border:none;

    border-radius:12px;

    background:#F3F4F6;

    cursor:pointer;

    font-size:20px;

}

.profile{

    display:flex;

    align-items:center;

    gap:12px;

}

.profile img{

    width:45px;

    height:45px;

    border-radius:50%;

}

.profile h4{

    margin:0;

}

.profile span{

    color:gray;

    font-size:13px;

}