.navbar{
    height:70px;
    background:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 30px;
    border-bottom:1px solid #e5e7eb;
    box-shadow:0 2px 10px rgba(0,0,0,.05);

}

.navbar-title{
    font-size:24px;
    font-weight:700;
    color:#111827;
    white-space: nowrap;
}

.navbar-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.search-box{
    display:flex;
    align-items:center;
    background:#f3f4f6;
    padding:10px 15px;
    border-radius:10px;
    width:280px;
}

.search-box input{
    border:none;
    background:transparent;
    outline:none;
    width:100%;
    margin-left:10px;
    font-size:15px;
}

.nav-icons{
    display:flex;
    align-items:center;
    gap:18px;
    font-size:22px;
    color:#6b7280;
}

.profile-icon{
    font-size:34px;
    color:#6b7280;
}